@charset "utf-8";
	*{ 
		margin:0; 
		padding:0;
		}
	li{ 
		list-style:none;
		}
	a{ 
		text-decoration:none; 
		color:#000;
	}
	img{ 
		vertical-align:top; 
		border:none;
	}
	
	.fl{ 
		float:left;
	}
	.fr{ 
		float:right;
	}
	.clearfix:after{ 
		content:''; 
		display:block; 
		clear:both;
	}
	input{ 
		background:none;
		 border:none; 
		 outline:none;
	}
	body{ 
		color:#000; 
		font-size:12px;
		font-family:'微软雅黑';
	}

	

